// Colors.

$white: #ffffff;
$darkgray: #7b7b7b;
$gray: #eaeaed;
$lightgray: #f7f7f9;



// Application colors.
$colors: (
  ui-transparent: transparent,
  ui-light: white,
  ui-dark: black,
  darkgray: $darkgray,
  gray: $gray,
  lightgray: $lightgray,
);
